body {
  margin: 0px;
  background-color: #ae737320;
}

.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.txt {
  color: #ae7373;
  text-align: center;
}

#p1 img {
  width: 50%;
  min-width: 200px;
  max-width: 410px;
  margin: 0px;
}

h1 {
  font-family: "Merienda One", cursive;
  font-size: max(40px, 10vmin);
  margin: 0px;
  word-wrap: break-word;
}

h2 {
  font-size: max(20px, 3.2vmin);
  margin: 0px;
  font-family: "Nothing You Could Do", cursive;
}

#p1 #start_button {
  font-family: "Merienda One", cursive;
  font-size: max(14px, 3vmin);
  border-radius: 20px;
  margin-top: 3%;
  padding: 5px;
  background-color: #00000007;
  border: dashed 2px #875959;
}

#p1 #start_button:hover label {
  color: #9d5f5f;
}

#p1 #start_button:hover {
  background-color: #00000015;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  height: 6.5vh;
  min-height: 40px;
  max-height: 65px;
  border-radius: 50px;
  position: sticky;
  top: 1%;
  width: 95%;
  max-width: 1200px;
  padding: 7px;
  margin: auto;
  background-color: #ede6e6;
  z-index: 3;
}

.nav_bar > #icon,
.nav_bar > #links {
  height: 6.5vh;
  min-height: 40px;
  max-height: 65px;
}

.nav_bar > #icon {
  border-radius: 50px;
}

.nav_bar > #links {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}

.nav_bar > #links > button {
  font-size: 90%;
  font-weight: bolder;
  width: 85px;
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.nav_bar > #links > button:hover {
  background-color: #0000001b;
}

#footer {
  background-color: #a19c9c;
  color: #281c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  max-height: 40px;
  min-width: 30px;
  margin: 0;
  font-family: sans-serif;
  position: sticky;
  top: 96vh;
  z-index: 3;
}

#footer .madeby {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #281c1c;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  gap: 3px;

  > * {
    transition: transform 0.3s ease-in-out;
    &:first-child {
      transform: translateX(-5px);
    }
    &:last-child {
      transform: translateX(5px);
    }
  }

  &__icon {
    transform: translateY(2px);
  }
  svg {
    width: 16px;
    height: auto;
    path {
      fill: #e81e3b;
    }
    animation: heartBeat 1s ease infinite 0.2s;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.8);
  }

  25% {
    transform: scale(1.4);
  }

  35% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

#p2 .note_container {
  border-radius: 30px;
  border: 5px dashed #00000050;
  width: 87%;
  max-width: 700px;
  /* height: 65vh; */
  padding: 0 10px 10px 10px;
}

#p2 .note_container .txt {
  position: relative;
  width: fit-content;
  margin: auto;
  background-color: #f5eded;
  margin: min(-30px, -7vmin) auto 0 auto;
  z-index: 2;
}

#p2 > .container {
  padding: max(30px, 7vmin) 0 0 0;
  overflow: hidden;
}

#p2 .note_container p {
  margin-top: 0%;
  text-align: justify;
  font-family: Garamond;
  font-weight: 900;
}

#p3 .video_msg {
  margin: min(40px, 15%) 0;
  width: 90%;
  max-width: 700px;
  aspect-ratio: 16/9;
  border-radius: 30px;
}

#p4 {
  overflow-y: auto;
  padding-bottom: 30px;
}

#p4 .review_container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 5% 0;
}

#p4 .review_card {
  width: 350px;
  margin: 20px 10px;
}

#p4 .review_card .review_value {
  font-family: "Merienda One", cursive;
  color: #5a5656;
  text-align: center;
  font-size: 450%;
  margin: 0;
}

#p4 .review_card .review_desc {
  font-size: 250%;
  margin: 0;
}
